/* Source Sans 3 Latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v18/nwpStKy2OAdR1K-IwhWudF-R3w8aZejZ5HZV8Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    --scale: 1;
    --title-size: calc(128px * var(--scale));
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    background-color: #272e35;
    color: #ffffff;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
}

a {
    color: cornflowerblue;
}

h1 {
    font-size: 64px;
    color: rgb(250,250,250);
    text-shadow: 0px 0px 16px rgba(23, 27, 31, 0.5);
}

.link-clean {
    text-decoration: none;
    color: inherit;
}

small {
    opacity: 0.5;
}

h1 small {
    font-size: 24px;
}

.title {
    margin: 50px 0;
    line-height: 2.5em;
}

.inline-title {
    line-height: 1.5em;
}

.title h1 {
    margin: 0;
}

.indent {
    margin: 0px 12px;
}

.text-container {
    max-width: 1024px;
    margin: 0 32px;
}

.vr {
    border-left: 2px solid white;
    height: 200px;
    width: 0;
    opacity: 0.25;
}

.no-margin {
    margin: 0;
}

.no-margin-y {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    width: 100vw;
    height: min(78vh, 1920px);

    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: url("./assets/background_tile.png") repeat;
    -webkit-animation: scrolling 360s linear infinite;
    -moz-animation: scrolling 360s linear infinite;
    -o-animation: scrolling 360s linear infinite;
    animation: scrolling 360s linear infinite;
    animation-delay: var(--animation-delay, 0ms);

    background-size: calc(128px * var(--scale));

    mask-image: linear-gradient(rgb(0 0 0 / 66%), transparent);
    transform: translateZ(0);
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(8192px * var(--scale)) calc(8192px * var(--scale));
    }
}

.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    isolation: isolate;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    font-size: var(--title-size);
    margin: 0;
    line-height: 1em;
}

.hero h2 {
    margin: 0;
    margin-top: -18px;
    line-height: 1em;
    opacity: 0.25;
    font-size: calc(var(--title-size) * 0.2);
}

.herolinks {
    margin-top: 48px;
}

.link-button {
    position: relative;

    font-size: calc(24px * var(--scale));
    font-weight: 600;

    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    background: rgba(44, 72, 109, 0.8);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    filter: drop-shadow(0 0 0.4rem rgba(0, 32, 64, 0.2));
    text-shadow: rgba(0,0,0,0.2) 0px 0 10px;
    text-decoration: none;
    border-radius: 12px;
    padding: 4px 24px;
    margin: 12px;

    line-height: calc(1em * var(--scale));
    margin: calc(12px * var(--scale));
    padding: calc(8px * var(--scale)) calc(24px * var(--scale));
    border-radius: calc(8px * var(--scale));

    border-bottom: calc(6px * var(--scale)) solid rgba(0, 0, 0, 0.1);
    padding-bottom: calc(4px * var(--scale));

    transform: translateZ(0);

    transition: 0.1s ease;
}

.link-button:hover {
    background-color: rgba(60, 126, 206, 0.8);
}

.portfolio {
    width: 80vw;
    margin-bottom: 64px;
}

.spacer {
    content: " ";
    width: 100%;
    margin-bottom: 2em;
}

#about-me p {
    font-size: 16px;
}

.embeds {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.embeds iframe {
    border: none;
    border-radius: 24px;
    filter: drop-shadow(0 0 1.5rem rgba(0, 110, 255, 0.2));
    margin: 6px;
}

.embeds:hover iframe {
    filter: drop-shadow(0 0 1.25rem rgba(0, 110, 255, 0.1));
}

.embeds .embed-container:hover iframe, .embeds iframe:hover {
    filter: drop-shadow(0 0 3rem rgba(0, 110, 255, 0.25));
}

.contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
}

.contact h3 {
    font-size: 24px;
    opacity: 0.5;
}

.contact-row {    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 64px;
}

.bookend-right {
    align-items: start;
}

.bookend-left {
    align-items: end;
}

.list {
    display: flex;
    flex-direction: column;
}

.big-link {
    font-size: 48px;
    font-weight: bold;
}

.demo-row {
    width: 80vw;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    margin-bottom: 64px;
}

.demo-spacer {
    width: 100%;
}

.demo-info {
    width: 512px;
    min-width: 512px;
    max-width: 512px;
    margin: 64px 0px;
}

.demo-video {
    border: none;
    border-radius: 24px;
    filter: drop-shadow(0 0 2rem rgba(0, 110, 255, 0.2));
    margin: 12px 64px;

    max-width: 720px;
}

.footer {
    content: " ";
    width: 100%;
    height: 256px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(16,16,16,1) 100%); 
}

.navbutton {
    text-decoration: none;
    color: rgb(200,200,256);
    font-weight: 700;
    font-size: 16pt;
    margin: 12px;
    line-height: 1em;
    opacity: 0.4;
    transition: 0.1s ease opacity;
}

.navbutton:hover {
    opacity: 0.5;
}

.fa-bars, .fa-video {
    font-size: 85%;
}

.fa-chevron-left {
    font-size: 80%;
}

.overlay {
    position: fixed;
}

.overlay-top-left {
    top: 12px;
    left: 12px;
}

.overlay-bottom-left {
    bottom: 12px;
    left: 12px;
}

.fullscreen-only {
    display: none;
}

i.fa-solid, i.fa-brands {
    margin-right: 8px;
}

@media screen and (min-width: 2200px) {
    html {
        --scale: 1.2;
    }
}

@media screen and (min-width: 3000px) {
    html {
        --scale: 1.8;
    }
}

@media screen and (min-width: 1300px) {
    .fullscreen-only {
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    .demo-row {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .demo-spacer {
        width: 0;
    }

    .demo-info {
        width: auto;
        min-width: auto;
        max-width: auto;
        margin: 64px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        height: max(50vh, 480px);
    }

    .hero h1 {
        font-size: 72px;
    }

    .hero h2 {
        font-size: 18px;
        margin-top: -8px;
    }

    .title h1 {
       font-size: 32px; 
    }

    .title h2 {
        font-size: 12px;
    }

    .herolinks {
        margin-top: 16px;
    }

    .link-button {
        font-size: 16px;
        padding: 5px 14px;
        padding-bottom: 1px;
        border-radius: 5px;
        border-bottom-width: 4px;
        margin: 2px;
    }

    .contact-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-section {
        margin-bottom: 32px;
    }

    .contact-row .vr {
        border-top: 1px solid white;
        height: 0;
        width: 128px;
        opacity: 0.1;
    }

    .contact .big-link {
        font-size: 32px;
    }

    .demo-info h1 {
        font-size: 24px;
    }
    .demo-info h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}

.embeds {
    --embed-scale: 1;
    --embed-landscape-factor: 1;
}

.embeds .embed-container {
    position: relative;
}

/* Responsive Video Embeds */
.embeds iframe.portrait {
    --embed-width: 320px;
    --embed-height: 569px;
    width: calc(var(--embed-width) * var(--embed-scale));
    height: calc(var(--embed-height) * var(--embed-scale));
}

.embeds iframe.landscape {
    --embed-width: 1011px;
    --embed-height: 569px;
    width: calc(var(--embed-width) * var(--embed-scale) * var(--embed-landscape-factor));
    height: calc(var(--embed-height) * var(--embed-scale) * var(--embed-landscape-factor));
}

.embeds iframe {
    transition: 0.2s ease;
}

.embeds .sticker {
    position: absolute;
    top: 0;
    right: 0;

    padding: 2px 6px;
    border-radius: 4px;
    transform: rotate(3deg) translate(10%, -10%);

    text-decoration: none;
    font-family: Outfit, "Source Sans 3", sans-serif;
    font-weight: 900;
    font-size: 14pt;
    transition: 0.2s ease;

    box-shadow: 4px 4px rgba(0,0,0,0.25), 0px 0px 16px rgba(0,0,0,0.25);
}

.embeds .sticker-youtube {
    background: rgb(205, 32, 31);
    color: rgb(250,250,250);
}

.embeds .sticker-tiktok {
    background: rgb(240,240,240);
    color: rgb(12,12,12);
}

.embeds .sticker:hover, .embeds .embed-container:hover .sticker {
    transform: rotate(2deg) translate(10%, -10%) scale(1.2);
}

.embeds .embed-container {
    transition: transform 0.2s ease;
}
.embeds .embed-container:hover {
    transform: scale(1.02);
}

.embeds .sticker .fa-paperclip {
    width: 0;
    opacity: 0;
    transition: transform 0.2s ease;
}

.embeds .sticker:hover .sticker, .embeds .embed-container:hover .sticker .fa-paperclip {
    width: auto;
    opacity: 0.3;
}

.embeds .sticker:hover .sticker.sticker-tiktok, .embeds .embed-container:hover .sticker.sticker-tiktok .fa-paperclip {
    opacity: 0.2;
}

.embeds .sticker:hover, .embeds .embed-container:hover .sticker:hover {
    filter: drop-shadow(0 0 16px rgba(200,200,255, 0.2));
    transform: rotate(0deg) translate(10%, -10%) scale(1.25);
}

@media only screen and (max-width: 1700px) {
    .embeds {
        --embed-scale: 0.85;
    }
    .portfolio, .demo-row {
        width: 85vw;
    }
}

@media only screen and (max-width: 1500px) {
    .embeds {
        --embed-scale: 0.72;
    }
    .portfolio, .demo-row {
        width: 92vw;
    }
}

@media only screen and (max-width: 1300px) {
    .embeds {
        --embed-scale: 0.66;
    }
}

@media only screen and (max-width: 1100px) {
    .embeds {
        --embed-scale: 0.5;
        --embed-landscape-factor: 0.5;
    }
}

/* From row-layout to grid-layout */
@media only screen and (max-width: 900px) {
    .embeds {
        --embed-scale: 0.8;
        --embed-landscape-factor: 0.33;
    }
    .demo-video {
        max-width: 600px;
    }
    .portfolio, .demo-row {
        width: 85vw;
    }

    .embeds iframe {
        margin-bottom: 12px;
    }
}

/* From grid-layout to column-layout */
@media only screen and (max-width: 680px) {
    .portfolio, .demo-row {
        width: 90vw;
    }

    .embeds {
        --embed-scale: 1;
    }

    .embeds iframe {
        margin-bottom: 32px;
    }

    .embeds .embed-container.hide-embed-mobile {
        display: none;
    }

    .embeds .sticker {
        font-size: 16pt;
    }

    .title {
        margin-left: 12px;
    }

    .embeds.indent {
        margin: 2px;
    }

    .demo-video {
        max-width: 480px;
    }
}

@media only screen and (max-width: 600px) {
    .demo-video {
        max-width: 360px;
    }
}

@media only screen and (max-width: 400px) {
    .embeds {
        --embed-scale: 0.8;
    }
    
    .demo-video {
        max-width: 300px;
    }
}