html {
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    background-color: #171b1f;
    color: #ffffff;

    font-family: "Source Sans 3", "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
}

a {
    color: cornflowerblue;
}

h1 {
    font-size: 56px;
}

small {
    opacity: 0.5;
}

h1 small {
    font-size: 24px;
}

.title {
    margin: 50px 0;
}

.title h1 {
    margin: 0;
}

.indent {
    margin: 0px 12px;
}

.text-container {
    width: 100%;
    max-width: 1024px;
}

.vr {
    border-left: 2px solid white;
    height: 200px;
    width: 0;
    opacity: 0.25;
}

.no-margin {
    margin: 0;
}

.no-margin-y {
    margin-top: 0;
    margin-bottom: 0;
}


.hero {
    width: 100vw;
    height: min(80vh, 1920px);

    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: url("./assets/background_tile.png") repeat;
    -webkit-animation: scrolling 5s linear infinite;
    -moz-animation: scrolling 5s linear infinite;
    -o-animation: scrolling 5s linear infinite;
    animation: scrolling 240s linear infinite;

    background-size: 128px;

    mask-image: linear-gradient(rgb(0 0 0 / 66%), transparent);
}

@-webkit-keyframes scrolling {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 200% 800%;
    }
}

.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 128px;
    margin: 0;
}

.hero h2 {
    margin-top: -46px;
    margin-bottom: 14px;
    opacity: 0.25;
}

.link-button {
    text-decoration: none;
    font-family: inherit;
    font-weight: 800;
    font-size: 24px;

    color: #ffffff;
    background-color: rgba(64, 150, 255, 0.88);


    margin: 12px;
    padding: 8px 24px;

    border-radius: 8px;

    opacity: 0.8;

    transform: scale(1,1);
}

.link-button:hover {
    background-color: rgba(64, 150, 255, 1);
}

.portfolio {
    width: 80vw;
    margin-bottom: 64px;
}

.spacer {
    content: " ";
    width: 100%;
    margin-bottom: 2em;
}

#about-me p {
    font-size: 16px;
}

.embeds {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.embeds iframe {
    border: none;
    border-radius: 24px;
    filter: drop-shadow(0 0 1.5rem rgba(0, 110, 255, 0.2));
    margin: 6px;
}

.contact {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 2em;
}

.contact h3 {
    font-size: 24px;
    opacity: 0.5;
}

.contact-row {    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px 64px;
}

.bookend-right {
    align-items: start;
}

.bookend-left {
    align-items: end;
}

.list {
    display: flex;
    flex-direction: column;
}

.big-link {
    font-size: 48px;
    font-weight: bold;
}

.demo-row {
    width: 80vw;
    max-width: 100%;

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
    margin-bottom: 64px;
}

.demo-spacer {
    width: 100%;
}

.demo-info {
    width: 512px;
    min-width: 512px;
    max-width: 512px;
    margin: 64px 0px;
}

.demo-video {
    border: none;
    border-radius: 24px;
    filter: drop-shadow(0 0 2rem rgba(0, 110, 255, 0.2));
    margin: 12px 64px;

    max-width: 720px;
}

.footer {
    content: " ";
    width: 100%;
    height: 256px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(16,16,16,1) 100%); 
}

@media screen and (max-width: 1400px) {
    .demo-row {    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .demo-spacer {
        width: 0;
    }

    .demo-info {
        width: auto;
        min-width: auto;
        max-width: auto;
        margin: 64px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 64px;
    }

    .hero h2 {
        font-size: 18px;
        margin-top: -16px;
        margin-bottom: 42px;
    }

    .title h1 {
       font-size: 42px; 
    }

    .link-button {
        font-size: 18px;
    }

    .contact-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-section {
        margin-bottom: 32px;
    }

    .contact-row .vr {
        border-top: 1px solid white;
        height: 0;
        width: 128px;
        opacity: 0.1;
    }

    .contact .big-link {
        font-size: 32px;
    }

    .demo-info h1 {
        font-size: 24px;
    }
    .demo-info h2 {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}


/* Responsive Video Embeds */
.embeds iframe.portrait {
    width: 320px;
    height: 569px;
}

.embeds iframe.landscape {
    width: 1011px;
    height: 569px;
}

@media only screen and (max-width: 1700px) {
    .embeds iframe.portrait {
        width: 288px;
        height: 512px;
    }

    .embeds iframe.landscape {
        width: 960px;
        height: 540px;
    }
}

@media only screen and (max-width: 1600px) {
    .embeds iframe.portrait {
        width: 216px;
        height: 384px;
    }

    .embeds iframe.landscape {
        width: 640px;
        height: 360px;
    }
}

@media only screen and (max-width: 1200px) {
    .embeds iframe.portrait {
        width: 288px;
        height: 512px;
    }

    .embeds iframe.landscape {
        width: 480px;
        height: 270px;
    }
}

@media only screen and (max-width: 900px) {
    .demo-video {
        max-width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    .demo-video {
        max-width: 480px;
    }
}

@media only screen and (max-width: 500px) {
    .demo-video {
        max-width: 360px;
    }
}