html {
    --scale: 1;
    --down: 1;
    --title-size: calc(160px * var(--scale));
    --down-scale: calc(var(--scale) * var(--down));
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    --text-navbutton: rgb(210,210,230);
    --text-2: rgb(200,200,200);
    --text-3: rgba(80,80,85,0.8);
    --text-4: rgba(96,96,96, 0.8);
    --text-5: rgba(64,64,72, 0.8);
    --link-color: cornflowerblue;
    --font: "Outfit", sans-serif;

    background-color: var(--bg);
    color: var(--text);

    font-family: var(--font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
}

a {
    color: var(--link-color);
}

.small a {
    color: hsl(from var(--link-color) h calc(s*0.5) calc(l*0.8));
}

.small a.subtle-link {
    color: hsl(from var(--link-color) h calc(s*0.33) calc(l*0.66));
}

.hero {
    width: 100vw;
    height: calc(1080px * var(--scale));

    background: linear-gradient(
        hsl(from var(--bg) h calc(s*2) calc(l*1.12)) 80%,
        rgb(0 0 0 / 0%) 100%
    );

    margin-bottom: calc(-1080px * 0.33 * var(--scale));

    position: relative;
}

.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    isolation: isolate;

    margin-top: calc(-142px * var(--scale));
}

.hero-background {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: url("./assets/tile_half.png") repeat;
    -webkit-animation: scrolling 360s linear infinite;
    -moz-animation: scrolling 360s linear infinite;
    -o-animation: scrolling 360s linear infinite;
    animation: scrolling 360s linear infinite;
    animation-delay: var(--animation-delay, 0ms);

    background-size: calc(160px * var(--down-scale));

    mask-image: linear-gradient(
        rgb(0 0 0 / 36%) 0%,
        rgb(0 0 0 / 56%) 35%,
        rgb(0 0 0 / 4%) 66%,
        transparent
    );
    transform: translateZ(0);
    pointer-events: none;
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(8192px * var(--scale)) calc(8192px * var(--scale));
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: var(--font);
    font-weight: 900;
    font-size: var(--title-size);
    margin: 0;
    padding: 0;
    line-height: 0.8em;
}

/* character spacing */
@media screen and (min-width: 900px) {
    .hero h1 {
        letter-spacing: calc(-4px * var(--scale));
    }
    .hero h1 .c {
        letter-spacing: calc(-8px * var(--scale));
        margin-left: calc(-8px * var(--scale));
    }
    .hero h1 .cu {
        margin-right: calc(2.5px * var(--scale));
        margin-left: calc(-4px * var(--scale));
    }
    .hero h1 .cx {
        margin-left: calc(-4px * var(--scale));
    }
}

.hero h2 {
    margin: 0;
    color: var(--text-2);
    opacity: 0.5;
    font-weight: 150;
    font-size: calc(var(--title-size) * 0.15);
    line-height: 1em;
}

.herolinks {
    margin-top: calc(24px * var(--down-scale));
}

.footer {
    content: " ";
    width: 100%;
    padding-top: calc(128px * var(--scale));
    padding-bottom: calc(64px * var(--scale));
    background: linear-gradient(
        rgb(0 0 0 / 0%) 0%,
        rgb(0 0 0 / 16%) 100%
    ); 
}

.footer .spacer {
    min-height: calc(64px * var(--down-scale));
}

.link-button {
    position: relative;

    font-size: calc(20px * var(--down-scale));
    font-weight: 300;

    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-navbutton);
    background: hsla(216deg, 56%, 42%, 0.32);

    backdrop-filter: blur(calc(16px * var(--down-scale))) brightness(1.4);
    text-shadow: 0 0 4px rgba(0,0,0,0.2);
    text-decoration: none;

    line-height: calc(1em * var(--down-scale));
    margin: calc(1.5px * var(--down-scale));
    border-radius: calc(8px * var(--down-scale));
    
    padding: calc(5px * var(--down-scale)) calc(24px * var(--down-scale));
    padding-right: calc(32px * var(--down-scale));

    padding-bottom: calc(4.5px * var(--down-scale));
    border-bottom: calc(6px * var(--down-scale)) solid rgba(0, 0, 0, 0.16);

    transform: translateZ(0);

    transition: 0.1s ease;
}

.link-button i {
    padding-right: calc(3px * var(--down-scale));
    transform: translate(0px, 0.5px);
}

.link-button:hover {
    background-color: hsla(216deg, 100%, 64%, 0.66);
    color: hsl(from var(--text-navbutton) h s calc(l+0.05));
}

.link-clean {
    text-decoration: none;
    color: inherit;
}

i.fa-solid, i.fa-brands {
    margin-right: 8px;
}

section.simple {
    width: 100%;
    max-width: 1200px;
    margin: calc(var(--scale) * 32px);
}

.fullscreen-only, .fullscreen-only-strict {
    display: none;
}

.small {
    color: var(--text-3);
    font-size: 0.8rem;
}

@media screen and (min-width: 2200px) {
    html {
        --scale: 1.2;
    }
}

@media screen and (min-width: 3000px) {
    html {
        --scale: 1.8;
    }
}

@media screen and (max-width: 900px) {
    html {
        --title-size: 96px;
        --down: 0.9;
    }
}

@media screen and (max-width: 710px) {
    html {
        --title-size: 76px;
        --down: 0.75;
    }

    .hero h2 {
        font-size: calc(var(--title-size) * 0.3);
    }
}

@media only screen and (max-width: 610px) {
    .hero {
        height: calc(960px * var(--down-scale));
        margin-bottom: calc(var(--down-scale) * -320px);
    }

    .hero-main {
        margin-top: calc(-128px * var(--scale));
    }

    .herolinks {
        margin-top: 8px;
    }

    html {
        --title-size: 64px;
        --down: 0.7;
    }

    .herolinks {
        line-height: 2rem;
    }

    .link-button {
        background: hsla(216deg, 56%, 32%, 0.66);
        font-size: calc(18px * var(--down-scale));
    }
}

@media only screen and (max-width: 400px) {
    html {
        --title-size: 50px;
        --down: 0.6;
    }

    .link-button {
        font-size: calc(16px * var(--down-scale));
    }
}


@media only screen and (max-width: 320px) {
    html {
        --title-size: 48px;
    }
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}

@media screen and (min-width: 1300px) {
    .fullscreen-only {
        display: block;
    }
}

@media screen and (min-width: 1800px) {
    .fullscreen-only-strict {
        display: block;
    }
}