html {
    --scale: 1;
    --down: 1;
    --title-size: calc(160px * var(--scale));
    --down-scale: calc(var(--scale) * var(--down));
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    --bg: #272e35;
    --text: #ffffff;
    --text-navbutton: rgb(210,210,230);
    --text-2: rgb(200,200,200);
    --text-3: rgba(200,200,200, 0.5);
    --font: "Outfit", sans-serif;

    background-color: var(--bg);
    color: var(--text);

    font-family: var(--font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
}

a {
    color: cornflowerblue;
}

.hero {
    width: 100vw;
    height: min(78vh, 1920px);

    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: url("./assets/tile_half.png") repeat;
    -webkit-animation: scrolling 360s linear infinite;
    -moz-animation: scrolling 360s linear infinite;
    -o-animation: scrolling 360s linear infinite;
    animation: scrolling 360s linear infinite;
    animation-delay: var(--animation-delay, 0ms);

    background-size: calc(160px * var(--down-scale));

    mask-image: linear-gradient(rgb(0 0 0 / 66%), transparent);
    transform: translateZ(0);
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(8192px * var(--scale)) calc(8192px * var(--scale));
    }
}

.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    isolation: isolate;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .hero-top-spacer {
    min-height: calc(120px * var(--down-scale));
}

.hero h1 {
    font-family: var(--font);
    font-weight: 900;
    font-size: var(--title-size);
    margin: 0;
    padding: 0;
    line-height: 0.8em;
}

/* character spacing */
@media screen and (min-width: 900px) {
    .hero h1 {
        letter-spacing: calc(-4px * var(--scale));
    }
    .hero h1 .c {
        letter-spacing: calc(-8px * var(--scale));
        margin-left: calc(-8px * var(--scale));
    }
    .hero h1 .cu {
        margin-right: calc(2.5px * var(--scale));
        margin-left: calc(-4px * var(--scale));
    }
    .hero h1 .cx {
        margin-left: calc(-4px * var(--scale));
    }
}

.hero h2 {
    margin: 0;
    opacity: 0.2;
    font-weight: 200;
    font-size: calc(var(--title-size) * 0.2);
    line-height: 0.8em;
}

.herolinks {
    margin-top: 32px;
}

.footer {
    content: " ";
    width: 100%;
    height: 256px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(16,16,16,1) 100%); 
}

.link-button {
    position: relative;

    font-size: calc(24px * var(--down-scale));
    font-weight: 300;

    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-navbutton);
    background: rgba(44, 72, 109, 0.8);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    filter: drop-shadow(0 0 0.4rem rgba(0, 32, 64, 0.2));
    text-shadow: rgba(0,0,0,0.2) 0px 0 10px;
    text-decoration: none;

    line-height: calc(1em * var(--down-scale));
    margin: calc(2px * var(--down-scale));
    padding: calc(6px * var(--down-scale)) calc(18px * var(--down-scale));
    border-radius: calc(8px * var(--down-scale));

    border-bottom: calc(6px * var(--down-scale)) solid rgba(0, 0, 0, 0.1);
    padding-bottom: calc(6px * var(--down-scale));
    padding-right: calc(22px * var(--down-scale));

    transform: translateZ(0);

    transition: 0.1s ease;
}

.link-button i {
    padding-right: calc(3px * var(--down-scale));
    transform: translate(0px, 0.5px);
}

.link-button:hover {
    background-color: rgba(60, 126, 206, 0.8);
}

.link-clean {
    text-decoration: none;
    color: inherit;
}

i.fa-solid, i.fa-brands {
    margin-right: 8px;
}

section.simple {
    width: 100%;
    max-width: 1200px;
    margin: calc(var(--scale) * 32px);
}

.fullscreen-only, .fullscreen-only-strict {
    display: none;
}

@media screen and (min-width: 2200px) {
    html {
        --scale: 1.2;
    }
}

@media screen and (min-width: 3000px) {
    html {
        --scale: 1.8;
    }
}

@media screen and (max-width: 900px) {
    html {
        --title-size: 96px;
        --down: 0.8;
    }
}

@media screen and (max-width: 710px) {
    html {
        --title-size: 76px;
        --down: 0.66;
    }
}

@media only screen and (max-width: 610px) {
    .hero {
        height: max(50vh, 480px);
    }

    .herolinks {
        margin-top: 16px;
    }

    html {
        --title-size: 64px;
        --down: 0.6;
    }

    .herolinks {
        line-height: 2.5rem;
    }

    .hero h2 {
        font-size: calc(var(--title-size) * 0.3);
    }
}

@media only screen and (max-width: 320px) {
    html {
        --title-size: 48px;
    }
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}

@media screen and (min-width: 1300px) {
    .fullscreen-only {
        display: block;
    }
}

@media screen and (min-width: 1800px) {
    .fullscreen-only-strict {
        display: block;
    }
}