@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sourcesans3/v18/nwpStKy2OAdR1K-IwhWudF-R3w8aZejZ5HZV8Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    --scale: 1;
    --title-size: calc(128px * var(--scale));
    scroll-behavior: smooth;
    box-sizing: content-box;
}

body {
    --bg: #272e35;
    --text: #ffffff;
    --text-2: rgb(200,200,200);
    --text-3: rgba(200,200,200, 0.5);
    --font: "Source Sans 3", sans-serif;

    background-color: var(--bg);
    color: var(--text);

    font-family: var(--font);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
}

a {
    color: cornflowerblue;
}

.hero {
    width: 100vw;
    height: min(78vh, 1920px);

    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;

    background: url("./assets/background_tile.png") repeat;
    -webkit-animation: scrolling 360s linear infinite;
    -moz-animation: scrolling 360s linear infinite;
    -o-animation: scrolling 360s linear infinite;
    animation: scrolling 360s linear infinite;
    animation-delay: var(--animation-delay, 0ms);

    background-size: calc(128px * var(--scale));

    mask-image: linear-gradient(rgb(0 0 0 / 66%), transparent);
    transform: translateZ(0);
}

@keyframes scrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: calc(8192px * var(--scale)) calc(8192px * var(--scale));
    }
}

.hero-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    isolation: isolate;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    font-size: var(--title-size);
    margin: 0;
    line-height: 1em;
}

.hero h2 {
    margin: 0;
    line-height: 1em;
    opacity: 0.25;
    font-size: calc(var(--title-size) * 0.2);
}

.herolinks {
    margin-top: 48px;
}

.footer {
    content: " ";
    width: 100%;
    height: 256px;
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(16,16,16,1) 100%); 
}

.link-button {
    position: relative;

    font-size: calc(24px * var(--scale));
    font-weight: 600;

    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    background: rgba(44, 72, 109, 0.8);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    filter: drop-shadow(0 0 0.4rem rgba(0, 32, 64, 0.2));
    text-shadow: rgba(0,0,0,0.2) 0px 0 10px;
    text-decoration: none;

    line-height: calc(1em * var(--scale));
    margin: calc(12px * var(--scale));
    padding: calc(8px * var(--scale)) calc(24px * var(--scale));
    border-radius: calc(8px * var(--scale));

    border-bottom: calc(6px * var(--scale)) solid rgba(0, 0, 0, 0.1);
    padding-bottom: calc(4px * var(--scale));

    transform: translateZ(0);

    transition: 0.1s ease;
}

.link-button:hover {
    background-color: rgba(60, 126, 206, 0.8);
}

.link-clean {
    text-decoration: none;
    color: inherit;
}

i.fa-solid, i.fa-brands {
    margin-right: 8px;
}

@media screen and (min-width: 2200px) {
    html {
        --scale: 1.2;
    }
}

@media screen and (min-width: 3000px) {
    html {
        --scale: 1.8;
    }
}

@media screen and (max-width: 900px) {
    html {
        --title-size: 96px;
    }
}

@media screen and (max-width: 710px) {
    html {
        --title-size: 76px;
    }
}

@media only screen and (max-width: 610px) {
    .hero {
        height: max(50vh, 480px);
    }

    .herolinks {
        margin-top: 16px;
    }

    .link-button {
        font-size: 18px;
        padding: 5px 14px;
        padding-bottom: 1px;
        border-radius: 5px;
        border-bottom-width: 4px;
    }

    html {
        --title-size: 56px;
    }

    .hero h2 {
        font-size: calc(var(--title-size) * 0.3);
    }
}

@media only screen and (max-width: 320px) {
    html {
        --title-size: 48px;
    }
}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}