<style>

:root {
    --hero-height: {{ include.height | default: "960px" }};
    --hero-center: {{ include.center | default: "25%" }};
    --hero-ratio: {{ include.ratio | default: "0.7" }};
    --hero-content-ratio: {{ include.content-ratio | default: "0.8" }};

    --hero-mobile-height: {{ include.mobile-height | default: "960px" }};
    --hero-mobile-ratio: {{ include.mobile-ratio | default: "0.4" }};
    --hero-mobile-center: {{ include.mobile-center | default: "20%" }};
    --hero-mobile-content-ratio: {{ include.mobile-content-ratio | default: "0.9" }};
}

{% if page.hero-tall %}
.hero-front h1 {
    line-height: 1em;
}
{% endif %}

</style>

<div class="hero-container">
    <div class="hero-background"></div>
</div>
<div class="hero-front">
    {% assign hero-title = page.hero-title | default: page.title %}
    <h1 id="hero-title">{{ hero-title }}</h1>
    <h2 id="hero-subtitle"><span>{{ page.hero-description }}</span></h2>
    {% include hero-links.html links=include.links %}
</div>
<div class="hero-spacer"></div>