<div class="link-button-list">
    {% for link in include.links %}
        {% include link-button.html
            url=link.url
            icon=link.icon
            text=link.name
            external=link.external
        %}
    {% endfor %}

    {% if page.product.video %}
        {% include link-button.html
            url=page.product.video
            icon="fa-brands fa-youtube"
            text="Watch"
            external=true
        %}
    {% endif %}

    {% if page.product.checkout %}
        {% include link-button.html
            url=page.product.checkout
            icon="fa-solid fa-tag"
            text="Buy Now"
        %}
    {% endif %}
</div>