<style>
:root {
    --hero-height: {{ include.height | default: "1024px" }};
    --hero-mobile-height: {{ include.mobile-height | default: "600px" }};
    --hero-ratio: {{ include.ratio | default: "0.66" }};
    --hero-mobile-ratio: {{ include.mobile-ratio | default: "0.5" }};
    --hero-content-ratio: {{ include.content-ratio | default: "1" }}
}
</style>
<div class="hero-container">
    <div class="hero-background"></div>
</div>
<div class="hero-front">
    {% assign hero-title = page.hero-title | default: page.title %}
    <h1>{{ hero-title }}</h1>
    <h2>{{ page.hero-description }}</h2>
    {% include hero-links.html links=include.links %}
</div>
<div class="hero-spacer"></div>