<div class="link-button-list">
    {% for link in include.links %}
        <a href="{{ link.url }}" class="link-button"
        {% if link.external %}target="_blank" rel="noopener"{% endif %}>
            <i class="{{ link.icon }}"></i>
            {{ link.name }}
        </a>
    {% endfor %}
    {% if page.video %}
        <a href="{{ page.video }}" class="link-button">
            <i class="fa-brands fa-youtube"></i>
            Watch
        </a>
    {% endif %}
    {% if page.checkout %}
        <a href="{{ page.checkout }}" class="link-button">
            <i class="fa-solid fa-tag"></i>
            Buy Now
        </a>
    {% endif %}
</div>