.link-button {
    position: relative;
    box-sizing: border-box;

    color: $button-text;
    background: $button-background;

    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0,0,0,0.2);

    margin: 0.25em;
    border-radius: 0.25em;
    
    padding-left: 1.4em;
    padding-right: 1.6em;

    padding-bottom: 0.12em;
    padding-top: 0.2em;
    
    border-bottom: 0.32em solid rgba(0, 0, 0, 0.16);

    outline: 1px solid $outline-color;
    backdrop-filter: blur(0.5em) brightness(1.4);
    transform: translateZ(0);

    transition: 0.1s ease;

    &:hover {
        background-color: $button-background-hover;
    }

    i {
        margin-right: 0.25em;
        text-shadow:
            1px 0 $outline-color,
            -1px 0 $outline-color,
            0 1px $outline-color,
            0 -1px $outline-color;
    }
}

.link-button-list {
    display: flex;

    @mixin column {
        padding-top: 0.5em;
        padding-bottom: 0.25em;
        flex-direction: column;
        width: 16em;

        .link-button {
            display: flex;
            justify-content: center;
            backdrop-filter: blur(0.7em) brightness(1.4);

            i {
                transform: translate(0px, 0.12em);
            }

            span {
                min-width: 4em;
                text-align: center;
            }
        }
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 1.5em;
        @include column;
    }

    &.column {
        @include column;
    }

    &.display {
        .link-button {
            font-weight: 500;
        }
    }

    div {
        margin: 0.2em;
        margin-top: 0.4em;
        margin-bottom: 0;
        font-size: 1.2em;
        color: $text-2c;
        opacity: 0.8;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
            margin: 0;
            font-size: 1em;
            font-weight: 200;
        }

        h4 {
            margin: 0;
            font-size: 1em;
            font-weight: 200;
            opacity: 0.5;
        }
    }


}