.link-button-list {
    display: flex;
}

.link-button {
    position: relative;
    box-sizing: border-box;

    color: $button-text;
    background: $button-background;

    font-weight: 300;
    text-decoration: none;
    text-shadow: 0 0 4px rgba(0,0,0,0.2);

    margin: 0.25em;
    border-radius: 0.25em;
    
    padding-left: 1.25em;
    padding-right: 1.5em;

    padding-bottom: 0.12em;
    padding-top: 0.2em;
    
    border-bottom: 0.32em solid rgba(0, 0, 0, 0.16);

    outline: 1px solid $outline-color;
    backdrop-filter: blur(0.5em) brightness(1.4);
    transform: translateZ(0);

    transition: 0.1s ease;

    &:hover {
        background-color: $button-background-hover;
    }

    i {
        padding-right: 0.25em;
        @media (max-width: $breakpoint-mobile) {
            transform: translate(0px, 0.12em);
        }

        text-shadow:
            1px 0 $outline-color,
            -1px 0 $outline-color,
            0 1px $outline-color,
            0 -1px $outline-color;
    }

    @media (max-width: $breakpoint-mobile) {
        padding-left: 20px;
        padding-right: 24px;
    }
}

.hero-links {
    @media (max-width: $breakpoint-mobile) {
        padding-top: 16px;
        padding-bottom: 6px;
        flex-direction: column;
        width: 50%;
    }

    .link-button {
        @media (max-width: $breakpoint-mobile) {
            display: flex;
            justify-content: center;
            font-size: 1.5em;
            backdrop-filter: blur(0.6em) brightness(1.4);
        }
    }
}

.inline-btn {
    @include link-clean;
    
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0, 0.1);
    outline: 1px solid $outline-color;
    border: none;
    border-radius: 8px;
    padding: 1px 12px;
    margin: 0px 2px;
    font-size: 0.75rem;
}