@mixin generic-card {
    position: relative;

    background-color: $card-background;
    backdrop-filter: blur(0.2em);
    outline: 1px solid $outline-color;
    border-radius: clamp(8px, 0.5vw, 64px);
}

.card {
    @include generic-card;

    $card-min-size: 18;
    $card-size: 0.95;
    $card-width: 24;
    $card-height: 20;
    height: clamp(1px*$card-width*$card-min-size, 1vw * $card-width * $card-size, 1000px * $card-width);
    width: clamp(1px*$card-height*$card-min-size, 1vw * $card-height * $card-size, 1000px * $card-height);

    img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 120%;
        margin-left: -10%;
    }

    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.12);
    transition: 0.2s ease-out;

    &:hover {
        background-color: $card-background-hover;
    }
}

section.carousel {
    overflow-x: hidden;
    margin-top: -16px;
}

.carousel-container {
    padding: 1em;
    padding-bottom: 2em;

    .carousel-items {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 1.2em;
        margin: none;
    }

    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

section.carousel-scroll-container {
    width: 100vw;
    max-width: none;
    margin-left: -8px;
    margin-right: -8px;

    .carousel-container {
        padding-left: clamp(16px, calc((100vw - #{$section-width})/2), 1000px);
    }
}