@mixin generic-card {
    position: relative;

    background-color: $card-background;
    backdrop-filter: blur(0.2em);
    outline: 1px solid $outline-color;

    border-radius: $corner-radius;
}

@property --glow-radius {
    syntax: "<length>";
    inherits: false;
    initial-value: 0px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .card {
        @include generic-card;

        min-width: 320px;
        @media (max-width: $breakpoint-mobile) {
            width: 66vw;
        }
        aspect-ratio: 20/24;

        img {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 120%;
            margin-left: -10%;
        }

        box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
        transition: 0.2s ease-out;

        @media (min-width: $breakpoint-mobile) {
            &::before {
                --glow-radius: 10em;

                content: "";
                position: absolute;
                inset: 0;

                background: radial-gradient(
                    circle var(--glow-radius) at var(--mouse-x) var(--mouse-y),
                    hsla(216deg, 100%, 80%, 0.05) 0%,
                    transparent 100%
                );

                opacity: 0;
                pointer-events: none;
                transition: opacity 0.5s ease-out, --glow-radius 0.5s ease-out;

                border-radius: $corner-radius;
            }

            &:hover::before {
                opacity: 1;
                --glow-radius: 20em;
            }
        }
    }

    .product-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        text-decoration: none;
        font-size: 0.8em;
        color: $text-4;
        opacity: 0.5;
        font-weight: 200;
        padding: 0em 0.5em;
    }

    &:hover {
        .card {
            background-color: $card-background-hover;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.12), 0 0 24px $card-background-glow inset;
        }

        .product-info {
            opacity: 1;
        }
    }
}