section.carousel {
    $shadow-range: 64px;
    $mobile-indent: 6vw;

    @media (max-width: $breakpoint-mobile) {
        margin: -16px;
        padding: 16px;
        overflow: hidden;
    }

    .cards {
        --card-columns: 3;
        display: grid;
        grid-template-columns: repeat(var(--card-columns), 1fr);
        gap: 1em;
        
        @media (max-width: $breakpoint-mobile) {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;

            margin: -$shadow-range;
            padding: $shadow-range;
            border-left: $mobile-indent solid transparent;
            border-right: $mobile-indent solid transparent;

            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    h3 {
        @media (max-width: $breakpoint-mobile) {
            margin-left: $mobile-indent;
        }
    }
}