section.demo {
    @include section-center;

    @mixin video-style {
        border-radius: $corner-radius;
        outline: 1.5px solid $outline-color;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.2), 0 0 33vw hsla(216deg, 100%, 80%, 0.05) inset;

        width: 100%;
        margin-top: 1em;
    }

    .video-placeholder {
        @include video-style;
        aspect-ratio: 16/9;

        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-3;

        display: flex;
        flex-direction: column;
    }

    video {
        @include video-style;
    }
}