.hero-card {
    @include generic-card;
    height: clamp(480px, 24vw, 1024px);
    width: auto;
    min-width: 1000px;
    background-color: $card-background;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.25), 0 0 32px $card-background-glow inset;
    margin-top: 0.5em;

    @media (max-width: $breakpoint-mobile) {
        min-width: 800px;
        height: 360px;
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
    }

    .hero-card-content {
        position: absolute;
        top: 4em;
        left: 5em;

        @media (max-width: $breakpoint-mobile) {
            left: 2.5em;
        }
    }

    h3, h4 {
        color: $text-2b;
        font-weight: 100;
        font-size: 2.5em;
        line-height: 1em;
        margin: 0;

        b {
            color: $text-2;
            font-weight: 900;
        }
    }

    h4 {
        color: $text-2c;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .requirements {
        margin-top: 2em;
    }
    .requirements {
        color: $text-2c;
        font-size: 0.8em;

        ul {
            margin: 0.5em;
            padding-left: 1em;
        }
        li {
            color: $text-2d;
            padding-left: 0.1em;
        }
        b {
            color: $text-2c;
        }
    }

    .hero-card-footer {
        color: $text-2c;

        position: absolute;
        bottom: 2em;
        left: 0em;
        width: calc(100% - 480px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint-mobile) {
            width: calc(100vw - 4em);
        }
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: 1.2em;
    }
}

.lifetime {
    line-height: 1em;
}

.hero-card-container {
    @media (max-width: $breakpoint-mobile) {
        margin: -16px;
        padding: 16px calc(16px + #{$section-mobile-padding-x});

        overflow-x: auto;

        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}