$link-color: hsl(219, 79%, 66%);
$link-color-subtle: hsl(219, 26%, 44%);

@mixin link-clean {
    text-decoration: none;
    color: inherit;
}

a {
    color: $link-color;
}

.link-clean {
    @include link-clean;
}

a.subtle-link {
    color: $link-color-subtle;
}

.inline-btn {
    @include link-clean;
    
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0, 0.1);
    outline: 1px solid $outline-color;
    border: none;
    border-radius: 8px;
    padding: 1px 12px;
    margin: 0px 2px;
    font-size: 0.75rem;
}