br.mobile-break {
    display: none;
    @media (max-width: $breakpoint-mobile) {
        display: block;
    }
}

.desktop-only {
    @media (max-width: $breakpoint-mobile) {
        display: none !important;
    }
}