$section-width: clamp(1200px, 80vw, 3840px);

@mixin section {
    max-width: $section-width;
    margin: auto;
}

section {
    @include section;
}

section.dense {
    font-size: 0.75em;
}

section.narrow {
    max-width: 1024px;
}