@mixin section {
    --section-width: clamp(1024px, 66vw, 3840px * 2);
    max-width: var(--section-width);
    margin: auto;
    margin-bottom: 4em;
}

section {
    @include section;

    h3 {
        font-size: 1.5em;
    }
}

section.info {
    margin-top: 2em;
    font-size: 0.85em;

    h3 {
        margin-bottom: 0.25em;
    }
}

section.dense {
    font-size: 0.75em;
}

section.narrow {
    max-width: 1024px;
}

section.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}