$section-width: clamp(1024px, 75vw, 3840px * 2);

@mixin section {
    max-width: $section-width;
    margin: auto;
}

section {
    @include section;

    h3 {
        font-size: 1.5em;
    }
}

section.info {
    margin-top: 2em;
    font-size: 0.85em;

    h3 {
        margin-bottom: 0.25em;
    }
}

section.dense {
    font-size: 0.75em;
}

section.narrow {
    max-width: 1024px;
}