$background-hue: 216deg;
$background-saturation: 10%;
$background-lightness: 10%;

$background-color: hsl(
    $background-hue,
    $background-saturation,
    $background-lightness
);

$card-background: hsla(
    $background-hue,
    $background-saturation * 2,
    12%,
    0.5
);

$card-background-hover: hsla(
    $background-hue,
    $background-saturation * 3,
    15%,
    0.5
);

$card-background-glow: hsla(
    $background-hue,
    20%,
    80%,
    0.025
);

$hero-card-background: hsla(
    $background-hue,
    $background-saturation * 2,
    16%,
    0.5
);

$text-color: #ffffff;
$text-size: clamp(16pt, 1vw, 120px);
$text-mobile-size: clamp(10pt, 1.5vw, 64px);

$text-2: rgb(200,200,200);
$text-2b: rgba(200,200,200, 0.66);
$text-2c: rgba(200,200,200, 0.5);
$text-2d: rgba(200,200,200, 0.33);
$text-3: rgba(80,80,85,0.8);
$text-4: rgba(96,96,96, 0.8);
$text-5: rgba(64,64,72, 0.8);

$outline-color: rgba(12,12,12, 50%);

$button-text: rgb(210,210,230);
$button-background: hsla($background-hue, 56%, 42%, 0.32);
$button-background-hover: hsla($background-hue, 100%, 64%, 0.66);

body {
    background-color: $background-color;
    color: $text-color;
    font-size: $text-size;

    @media (max-width: $breakpoint-mobile) {
        font-size: $text-mobile-size;
    }

    overflow-x: hidden;
}