.hero {
    height: max(512px, min(80vh, 1920px));
    margin-bottom: 20vh;
}

.hero-main {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 64px;
}

.hero h1 {
    font-size: 64px;
    font-weight: 900;
    color: rgb(220,220,220);
}

.hero h2 {
    margin-top: -8px;
    font-weight: 900;
    opacity: 0.25;
    margin-bottom: 24px;
}

.hero h3 {
    opacity: 0.5;
    font-size: 18px;
    margin: 2px;
}

.cardzone {
    margin-top: 32px;
    width: 320px;
}

.cardzone-first {
    margin-top: 0;
}

.card {
    color: rgb(220,220,220);
    background-color: rgba(32,36,48,0.8);
    backdrop-filter: blur(8px);
    filter: drop-shadow(0 0 0.4rem rgba(0, 32, 64, 0.2));
    text-shadow: rgba(0,0,0,0.2) 0px 0 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    /* width: 100%; */
    padding: 4px 16px;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 12px;
}

.card-spacer {
    height: 48px;
}