---
layout: product
permalink: "/products/automate.html"

title: Automate
description: Animations without Headaches
hero-description: Animations without Headaches
cta: "Ready to Save Time?"

product:
    id: automate
    price: $36
    checkout: "https://www.creem.io/payment/prod_6jNhOyZglnOHOajOMIvJTY"
    box: "/products/Automate/box.png"
    goodbye: keyframes

requirements:
    - DaVinci Resolve <b>Studio</b> 20+
    - MacOS 26 or Windows 11


---

{% include demo.html
    title="Animate More, Work Less"
    subtitle="Animate Common Patterns in Seconds"
    video="/products/Automate/video/demo-animate.mp4"
%}

{% include demo.html
    title="Animations that keep up with you"
    subtitle="In & Out animations stay with your clip, even when you cut it"
    video="/products/Automate/video/demo-split.mp4"
%}

{% include inspector.html
    img="/products/Automate/inspector/AutomateSpline.png"
    alt="DaVinci Resolve inspector for Automate Modifier"
    right=true
    title="A new way to Animate"
    subtitle="More Speed, More Control"
    body="
<p>Right-click to Automate</p>
<ul>
    <li>Positions</li>
    <li>Sliders</li>
    <li>Angles</li>
    <li>Colors</li>
    <li>Switches</li>
</ul>
"
%}

{% include inspector.html
    img="/products/Automate/inspector/AutosyncSpline.png"
    alt="DaVinci Resolve inspector for Autosync Modifier"
    right=false
    title="Always in Sync"
    subtitle="Group animations with Autosync and make adjustments to them together"
    body="

<p>Right-click to Autosync</p>
<ul>
    <li>Keep any animation in sync with another</li>
    <li>Play your animations one after another</li>
</ul>
"
%}

<section class="center display shorter">
    <h3>Right-click to Automate</h3>
    <h4>You can modify any Fusion property with Automate</h4>
    <img src="/products/Automate/assets/modify with.png" alt="the modify-with menu" style="width: 33vw;">
</section>