---
layout: product
permalink: "/products/automate.html"

title: Automate
description: Animations without Headaches
hero-description: Animations without Headaches
cta: "Ready to Save Time?"

product:
    id: automate
    price: $36
    checkout: "https://www.creem.io/payment/prod_6jNhOyZglnOHOajOMIvJTY"
    box: "/products/Automate/box.png"
    goodbye: keyframes

requirements:
    - DaVinci Resolve <b>Studio</b> 20+
    - MacOS 26 or Windows 11

demo:
    title: "More Animation, Less Work"
    video: "/products/Automate/video/demo.mp4"

---

<section class="center display">
    <h3>Automate Anything</h3>
    <h4>You can modify any Fusion property with Automate</h4>
    <img src="/products/Automate/assets/modify with.png" alt="the modify-with menu" style="width: 33vw; margin: 1em;">
</section>

{% include inspector.html
    img="/products/Automate/inspector/AutomateSpline.png"
    right=true
    title="Animations that keep up with you"
    subtitle="In & Out animations stay with your clip, even when you cut it"
    body="
<p>Right-click to Automate</p>
<ul>
    <li>Positions</li>
    <li>Sliders</li>
    <li>Angles</li>
    <li>Colors</li>
    <li>Switches</li>
</ul>
"
%}

{% include inspector.html
    img="/products/Automate/inspector/AutosyncSpline.png"
    right=false
    title="Always in Sync"
    subtitle="Group animations with Autosync and make adjustments to them together"
    body="

<p>Right-click to Autosync</p>
<ul>
    <li>Keep any animation in sync with another</li>
    <li>Play your animations one after another</li>
</ul>
"
%}