.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(0, -128px);
    gap: 32px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plugin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.plugin-video {
    width: 600px;
    border-radius: 12px;
    margin: 4px;

    box-shadow: 0 0 32px rgba(0,0,4,0.2);
}

@media only screen and (max-width: 1380px) {
    .plugin-video {
        width: 520px;
    }
}

@media only screen and (max-width: 1150px) {
    .plugin-video {
        width: 400px;
    }
}


@media only screen and (max-width: 850px) {
    .plugin-video {
        width: 320px;
    }
}

@media only screen and (max-width: 710px) {
    .plugin-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .hero h1 {
        font-size: 48px;
    }
    .hero h2 {
        font-size: 14px;
    }
}