.hero-container {
    transform: translate(0, -32px);
}

.container {
    --base-gap: 32px;
    --grid-gap: calc(var(--base-gap) * var(--scale));
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0, -128px);
    gap: var(--grid-gap);
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plugin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--grid-gap);
}

.plugin-video {
    width: var(--width);
    height: var(--height);
    border-radius: 12px;
    margin: 4px;

    box-shadow: 0 0 32px rgba(0,0,4,0.2);
}

.plugin-placeholder {
    --base-width: 600px;
    --display-width: calc(var(--base-width) * var(--scale));
    --width: var(--display-width);
    --height: calc(var(--width) * 9/16);
    width: var(--width);
    height: var(--height);
}

.demo-placeholder {
    --width: calc(var(--display-width)*2 + var(--grid-gap));
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    margin: 0;
    padding: 0;
}

.main h1 {
    font-weight: 900;
    font-size: calc(0.6 * var(--title-size));
    margin-top: calc(3*var(--grid-gap));
    color: var(--text-2);
}

.main h1.tall {
    line-height: 0.5;
    margin-top: calc(4*var(--grid-gap));
}

.main h2 {
    font-weight: 900;
    font-size: calc(0.2 * var(--title-size));
    line-height: 0.5;
    color: var(--text-3);
}

.main h2.tall {
    font-size: calc(0.4 * var(--title-size));
    margin-top: calc(2*var(--grid-gap));
}

.tools-section {
    position: relative;
    width: 100%;
}

.tools-nav {
    position: sticky;
    width: 300px;
    z-index: 100;
    top: 0;
    left: 0;
    height: 0;
    overflow-y: visible;

    padding-top: calc(64px * var(--scale));
    padding-left: calc(48px * var(--scale));

    opacity: 0.5;
    color: var(--text-3);
    font-weight: bold;

    transition: 0.1s ease opacity;
}

.tools-nav h3, h4 {
    font-size: 26px;
    line-height: 1;
    margin: 0;
    padding: 0;
    margin-top: 32px;
}

.tools-nav h4 {
    font-size: 18px;
    opacity: 0.5;
}

.tools-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 4px;
}

.tools-nav li {
    font-size: 18px;
    font-weight: bold;
    opacity: 0.4;

    transition: opacity 0.1s;
}

.tools-nav li.active {
    opacity: 0.8;
}

.tools-nav li:before {
    content: " - ";
    font-weight: 900;
    opacity: 0.33;
}

.tools-nav a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 1380px) {
    .plugin-placeholder {
        --base-width: 520px;
    }
}

@media only screen and (max-width: 1150px) {
    .plugin-placeholder {
        --base-width: 400px;
    }
}


@media only screen and (max-width: 850px) {
    .plugin-placeholder {
        --base-width: 320px;
    }
}

@media only screen and (max-width: 710px) {
    .plugin-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    .demo-placeholder {
        --width: var(--base-width);
    }

    .plugin-placeholder {
        --base-width: calc(100vw - 3 * var(--grid-gap));
    }
}

@media only screen and (max-width: 610px) {
    .main h1 {
        font-size: calc(0.8 * var(--title-size));
        margin-top: calc(3*var(--grid-gap));
    }

    .main h2 {
        font-size: calc(0.3 * var(--title-size));
        margin-top: calc(-0.25*var(--grid-gap));
    }

    .main h2.tall {
        font-size: calc(0.6 * var(--title-size));
    }
}

@media only screen and (max-width: 500px) {
    .plugin-placeholder {
        --base-width: calc(100vw - 2 * var(--grid-gap));
    }
}