section.docs {
    position: relative;
    width: 100%;
    /* width: 1000px; */
}

.container {
    width: 1000px;
    margin-left: calc((100vw - 1000px)/2)
}

section.docs p {
}

section.docs p.iblock {
    color: var(--text-2);
    opacity: 0.5;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    border-left: 4px solid var(--text-3);
    padding-left: 8px;
}

section.docs h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    line-height: 1;
}

section.docs h2 {
    font-size: 3rem;
    font-weight: 900;
}

section.docs h3 {
    font-size: 2rem;
    color: var(--text-2);
}

section.docs h2 span,
section.docs h3 span
{
    user-select: all;
}

section.docs h2 a,
section.docs h3 a
{
    color: var(--text-3);
    opacity: 0.4;
    font-size: 2rem;
}
section.docs h3 a
{
    font-size: 1rem;
}

table, th, td {
    border: 1px solid var(--text-3);
    color: var(--text-2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

td:nth-child(1), th:nth-child(1) { 
    width: 180px;
    user-select: all;
}

th:nth-child(1) {
    text-align: right;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2), th:nth-child(2) { 
    width: 64px;
    text-align: center;
    user-select: all;
}

td:nth-child(2) {
    opacity: 0.5;
}

td:nth-child(3), th:nth-child(3) { 
    text-align: left;
}


/* NAV UI */
.tools-nav {
    position: sticky;
    width: 300px;
    z-index: 100;
    top: 0;
    left: 0;
    height: 0;
    overflow-y: visible;

    padding-top: calc(64px * var(--scale));
    padding-left: calc(48px * var(--scale));

    color: var(--text-4);
    font-weight: bold;

    transition: 0.1s ease opacity;
}

.tools-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 4px;
    color: var(--text-4);
}

.tools-nav ul ul {
    list-style-type: none;
    padding-left: 0;
    margin: 4px;
    margin-left: 12px;
    color: var(--text-5);
}

.tools-nav li {
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.1s;
}

.tools-nav li:before {
    content: " - ";
    font-weight: 900;
    opacity: 0.33;
}

.tools-nav a {
    color: inherit;
    text-decoration: none;
}